* {
  font-family: "proxima-nova", Arial, Helvetica, Geneva, sans-serif;
}

.headerImage {
  max-width: 250px;
  height: auto;
  width: auto;
  display: block;
  margin: 0px auto;
}

p {
  color: black;
}

.MainNavigation > li {
  color: red;
  display: inline;
  text-decoration: none;
}

h3 {
  color: black;
}

a {
  color: black;
}

#Foundation-Websites {
  display: block;
}
.workBench_icon {
  max-width: 25px;
  height: auto;
  width: auto;
  text-align: middle;
  vertical-align: -5px;
}

.smallCompanyLogos {
  max-width: 25px;
  height: auto;
  width: auto;
  text-align: middle;
  vertical-align: -5px;
}

.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 200px 200px;
  gap: 10px;
}

.res {
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Arbys_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  height: 30px;
}

.BWW_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  height: 30px;
}

.SONIC_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  height: 30px;
}

.JJs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  height: 30px;
}

.RustyTaco_Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  height: 30px;
}

.linkList {
  display: block;
}

.linkList :hover {
  color: rgb(150, 22, 34);
  font-size: 18px;
}

.mainBox {
  border: 1px solid black;
  padding: 10px;
}

.levelTwo {
  background-color: white;
  border: 1px solid black;
  margin-top: 10px;
  padding-left: 10px;
}



.levelThree > h4,
p {
  color: white;
  padding: 3px;
  display: inline-flexbox;
  margin: 5px;
}

.breadcrumb > li {
  display: inline;
}

.breadcrumb li + li::before {
  padding: 10px;
  content: "=>";
}

/* Inspire Brands' Colors */
#primary-red {
  background-color: ≈;
}

#dark-red {
  background-color: rgb(150, 22, 34);
}

#primary-black {
  background-color: rgb(35, 31, 32);
}

#grey-1 {
  background-color: rgb(91, 91, 91);
}

#grey-2 {
  background-color: rgb(188, 190, 192);
}

#grey-3 {
  background-color: rgb(238, 237, 238);
}

#white-1 {
  background-color: rgb(247, 248, 248);
}

/* Arby's Colors */

#arbys-passion-red {
  background-color: #dc0032;
}

#arbys-dark-red {
  background-color:#691c33;
}

#arbys-medium-red {
  background-color:#981b32;
}

#arbys-white {
  background-color: #FFFFFF;
}
#arbys-craft {
  background-color: #d5b49e;
}
#arbys-black {
  background-color:  #000000;
}
#arbys-crisp {
  background-color: #3A913F;
}
#arbys-garnish {
  background-color: #00573F;
}
#arbys-zest {
  background-color: rgb(178,213,131);
}


/* SONIC Drive-In Colors */
#cherry {
  background-color: rgb(228, 0, 70);
}

#sky {
  background-color: rgb(0, 138, 216);
}
#frost {
  background-color: rgb(116, 210, 231);
}
#midnight {
  background-color: rgb(40, 87, 128);
}
#lemonade {
  background-color: rgb(254, 221, 0);
}

.font-black {
  color: black;
}

#font-black {
  color: black;
}

/* Password Generator */

#generateDiv {
}

#resultDiv {
  border: 2px;
  border-color: black;
  border-radius: 50%;
  margin: 50px;
  padding: 50px;
}
